<footer itemtype="https://schema.org/WPFooter" itemscope="itemscope" id="colophon" role="contentinfo">
			<div class='footer-width-fixer'>		<div data-amb-type="amb-post-type" data-amb-id="345" class="amb amb-345">
						<section class="amb-section amb-section-top amb-el amb-el-7ae617d amb-section-boxed amb-section-h-default amb-section-h-default" data-id="7ae617d" data-amb-el-type="section">
						<div class="amb-container amb-col-gap-no">
					<div class="amb-col amb-col-100 amb-top-column amb-el amb-el-ec32c62" data-id="ec32c62" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<section class="amb-section amb-section-inner amb-el amb-el-479f95a amb-section-boxed amb-section-h-default amb-section-h-default" data-id="479f95a" data-amb-el-type="section">
						<div class="amb-container amb-col-gap-wide">
					<div class="amb-col amb-col-25 amb-inner-column amb-el amb-el-4f892bc" data-id="4f892bc" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-89a88d6 amb-widget amb-widget-image" data-id="89a88d6" data-amb-el-type="widget" data-widget_type="image.default">
				<div class="amb-widget-body">
															<img width="714" height="179" src="/uploads/logo/cropped-AMBlast_logo.png" class="attachment-large size-large amb-img-968 " alt=""    decoding="async" srcset="/uploads/logo/cropped-AMBlast_logo.png 714w, /uploads/logo/cropped-AMBlast_logo-300x75.png 300w"    / loading="lazy">															</div>
				</div>
				<div class="amb-el amb-el-4533e80 amb-hidden-tablet amb-hidden-mobile amb-widget amb-widget-text" data-id="4533e80" data-amb-el-type="widget" data-widget_type="text-editor.default">
				<div class="amb-widget-body">
									<h5>Manage your facility</h5>								</div>
				</div>
					</div>
		</div>
				<div class="amb-col amb-col-25 amb-inner-column amb-el amb-el-f1fe857" data-id="f1fe857" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-1d5cce8 amb-widget amb-widget-heading" data-id="1d5cce8" data-amb-el-type="widget" data-widget_type="heading.default">
				<div class="amb-widget-body">
					<h6 class="amb-heading amb-size-default">Menu</h6>				</div>
				</div>
				<div class="amb-el amb-el-b8fc8dd amb-icon-list--layout-traditional amb-list-item-link-full_width amb-widget amb-widget-icon-list" data-id="b8fc8dd" data-amb-el-type="widget" data-widget_type="icon-list.default">
				<div class="amb-widget-body">
							<ul class="amb-icon-list-items">
							<li class="amb-icon-list-item">
											<a href="/">

											<span class="amb-icon-list-text">Home</span>
											</a>
									</li>
								<li class="amb-icon-list-item">
											<a href="/over-ons/">

											<span class="amb-icon-list-text">Over ons</span>
											</a>
									</li>
								<li class="amb-icon-list-item">
											<a href="/diensten/">

											<span class="amb-icon-list-text">Onze diensten</span>
											</a>
									</li>
								<li class="amb-icon-list-item">
											<a href="/portfolio">

											<span class="amb-icon-list-text">Portfolio</span>
											</a>
									</li>
								<li class="amb-icon-list-item">
											<a href="/contact">

											<span class="amb-icon-list-text">Contact</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
					</div>
		</div>
				<div class="amb-col amb-col-25 amb-inner-column amb-el amb-el-8404611" data-id="8404611" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-947346f amb-widget amb-widget-heading" data-id="947346f" data-amb-el-type="widget" data-widget_type="heading.default">
				<div class="amb-widget-body">
					<h6 class="amb-heading amb-size-default">Contact</h6>				</div>
				</div>
				<div class="amb-el amb-el-edcc364 amb-widget amb-widget-text" data-id="edcc364" data-amb-el-type="widget" data-widget_type="text-editor.default">
				<div class="amb-widget-body">
									<p>Heinsbergerweg 172<br />6045 CK Roermond</p><p><a href="mailto:info@amblast.nl">info@amblast.nl</a></p><p><a href="tel:0031619963651">+31 6 19 96 36 51</a></p>								</div>
				</div>
					</div>
		</div>
				<div class="amb-col amb-col-25 amb-inner-column amb-el amb-el-b5ec1fa" data-id="b5ec1fa" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-1e47453 amb-widget amb-widget-heading" data-id="1e47453" data-amb-el-type="widget" data-widget_type="heading.default">
				<div class="amb-widget-body">
					<h6 class="amb-heading amb-size-default">Info</h6>				</div>
				</div>
				<div class="amb-el amb-el-095d9ca amb-widget amb-widget-text" data-id="095d9ca" data-amb-el-type="widget" data-widget_type="text-editor.default">
				<div class="amb-widget-body">
									<p>KvK: 72128690<br />BTW ID: NL002407752B08<br />IBAN: NL45 INGB 0008 6149 44<br />BIC: INGBNL2A</p><p> </p>								</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="amb-section amb-section-inner amb-el amb-el-f23ee5e amb-section-boxed amb-section-h-default amb-section-h-default" data-id="f23ee5e" data-amb-el-type="section">
						<div class="amb-container amb-col-gap-wide">
					<div class="amb-col amb-col-100 amb-inner-column amb-el amb-el-7381068" data-id="7381068" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-9217dc0 amb-widget-divider--view-line amb-widget amb-widget-divider" data-id="9217dc0" data-amb-el-type="widget" data-widget_type="divider.default">
				<div class="amb-widget-body">
							<div class="amb-divider">
			<span class="amb-divider-separator">
						</span>
		</div>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
				<section class="amb-section amb-section-inner amb-el amb-el-6e8111b amb-section-boxed amb-section-h-default amb-section-h-default" data-id="6e8111b" data-amb-el-type="section">
						<div class="amb-container amb-col-gap-wide">
					<div class="amb-col amb-col-50 amb-inner-column amb-el amb-el-d7dfc23" data-id="d7dfc23" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-587c102 amb-widget amb-widget-copyright" data-id="587c102" data-amb-el-type="widget" data-widget_type="copyright.default">
				<div class="amb-widget-body">
							<div class="amb-copyright">
							<span>Copyright © 2026 Amblast</span>
					</div>
						</div>
				</div>
					</div>
		</div>
				<div class="amb-col amb-col-50 amb-inner-column amb-el amb-el-9bb2cc4" data-id="9bb2cc4" data-amb-el-type="column">
			<div class="amb-widget-wrap amb-el-populated">
						<div class="amb-el amb-el-1a303ea amb-icon-list--layout-inline amb-align-right amb-mobile-align-left amb-list-item-link-full_width amb-widget amb-widget-icon-list" data-id="1a303ea" data-amb-el-type="widget" data-widget_type="icon-list.default">
				<div class="amb-widget-body">
							<ul class="amb-icon-list-items amb-inline-items">
							<li class="amb-icon-list-item amb-inline-item">
											<a href="#">

											<span class="amb-icon-list-text">Privacy verklaring</span>
											</a>
									</li>
						</ul>
						</div>
				</div>
					</div>
		</div>
					</div>
		</section>
					</div>
		</div>
					</div>
		</section>
				</div>
		</div>		</footer>
